<div class="container" style="margin-top: 10px; margin-bottom: 10px;">
  <div class="row">
    <div class="col-8">    
        <h1><span class="text-dark">This First Heading </span><span class="text-secondary">Will Catch Your Eye</span></h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra aliquet eget sit amet tellus. Non tellus orci ac auctor augue mauris augue neque. Neque volutpat ac tincidunt vitae. Urna porttitor rhoncus dolor purus. Sed sed risus pretium quam vulputate dignissim. Neque aliquam vestibulum morbi blandit cursus. Integer vitae justo eget magna fermentum iaculis eu non. Augue mauris augue neque gravida. Urna nunc id cursus metus aliquam eleifend mi in nulla. At consectetur lorem donec massa. Vel quam elementum pulvinar etiam non quam lacus.</p>
    </div>
    <div class="col-4">
            <img src="./assets/img/1.jpg" class="img-fluid rounded-circle" alt="...">
    </div>
  </div>
</div>

