<div class="container">
    <div class="row h1">Portfolio</div>

    <div class="row mb-4 lead">It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</div>
    
    <div class="row d-flex justify-content-center p-0">

        <div class="col m-0 p-0">
            <!-- first card -->
            <div class="card" style="width: 20rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title p-bluetext">Project Name</h5>
                <p class="card-text p-copy">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            <!-- first card -->
        </div>

        <div class="col m-0 p-0">
            <!-- first card -->
            <div class="card" style="width: 20rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title p-bluetext">Project Name</h5>
                <p class="card-text p-copy">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            <!-- first card -->            
        </div>

        <div class="col m-0 p-0">
            <!-- first card -->
            <div class="card" style="width: 20rem;">
            <img src="/website1/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title p-bluetext">Project Name</h5>
                <p class="card-text p-copy">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            </div>
            <!-- first card -->
        </div>
        
    </div>
</div>