<!-- your html code here -->
    <div class="container">
        <div class="row">
            <div class="col-4 pr-0">
                <img src="./assets/img/2.jpg" class="img-fluid rounded-circle float-right" alt="">
            </div>

            <div class="col-8 pl-0">
                <h1><span class="text-dark">The Second Heading</span> <span class="text-secondary">Is Pretty Cool Too.</span></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur dignissimos dolores culpa. Explicabo nobis esse harum accusamus repellendus cupiditate placeat, dignissimos nemo, enim quibusdam voluptatibus cum provident excepturi ratione minima!</p>
            </div>
        </div>
    </div>